<h1>Signup</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>signup</button>
</form>


<br><a href="/register">Signup</a>
<br><a href="/login">Login</a>
<br><a href="/logout">Logout</a>
